<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/gravatar_header', user: @user  %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
      <h3>No Microposts yet</h3>
      <a href="#">get started with your first post!</a>
    <% end %>
  </div>

</div>
